/*Add CSS below */
* {
    box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.row {
  display: flex;
  flex-direction: column;
  background: rgb(255, 60, 0);
  width: 450px;
  margin: 1px 0px 5px 10px;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
}
h2 {
  text-align: center;
    padding: 1rem;

}
label {
  color: rgb(245, 240, 240);
  font-size: 18px;
  font-style: italic;
}
.form-group {
  padding: 1rem;
}

#surname,
#email,
#name,
#dob,
#description,
#language {
  width: 350px;
  border: none;
  border-radius: 3px;
  outline: 0;
  padding: 0.5rem;
}
.gender {
  color: black;
}
#submit, #reset {
  width: 100px;
  padding: 7px;
  margin-left: 45px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  outline: 7px;
  text-align: center;
  align-content: center;

@media (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
/*Table styles*/

table{
color: #000;
}